In [27]:
import numpy as np
import pandas as pd
import matplotlib as plt
pd.set_option('display.max_columns', None)

In [28]:
path = "/Users/luyin/Downloads/train_ver3.csv"
df = pd.read_csv(path)

In [29]:
df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,4,ES,0,35,2015-01-12,0,6,1,NaN,1,1,1,2,0,KHL,2,1,29,1,87218.10,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2015-01-28,1050611,4,ES,1,23,2012-08-10,0,35,1,NaN,1,2,1,1,0,KHE,2,1,13,0,35548.74,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2015-01-28,1050612,4,ES,1,23,2012-08-10,0,35,1,NaN,1,2,1,2,0,KHE,2,1,13,0,122179.11,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2015-01-28,1050613,4,ES,0,22,2012-08-10,0,35,1,NaN,1,2,1,2,0,KHD,2,1,50,0,119775.54,3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2015-01-28,1050614,4,ES,1,23,2012-08-10,0,35,1,NaN,1,1,1,2,0,KHE,2,1,50,1,NaN,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [30]:
df.shape

(13647309, 47)

In [31]:
df.dtypes

fecha_dato                object
ncodpers                   int64
ind_empleado               int64
pais_residencia           object
sexo                       int64
age                        int64
fecha_alta                object
ind_nuevo                  int64
antiguedad                 int64
indrel                     int64
ult_fec_cli_1t            object
indrel_1mes                int64
tiprel_1mes                int64
indresi                    int64
indext                     int64
conyuemp                   int64
canal_entrada             object
indfall                    int64
tipodom                    int64
cod_prov                   int64
ind_actividad_cliente      int64
renta                    float64
segmento                   int64
ind_ahor_fin_ult1          int64
ind_aval_fin_ult1          int64
ind_cco_fin_ult1           int64
ind_cder_fin_ult1          int64
ind_cno_fin_ult1           int64
ind_ctju_fin_ult1          int64
ind_ctma_fin_ult1          int64
ind_ctop_fin_ult1          int64
ind_ctpp_fin_ult1          int64
ind_deco_fin_ult1          int64
ind_deme_fin_ult1          int64
ind_dela_fin_ult1          int64
ind_ecue_fin_ult1          int64
ind_fond_fin_ult1          int64
ind_hip_fin_ult1           int64
ind_plan_fin_ult1          int64
ind_pres_fin_ult1          int64
ind_reca_fin_ult1          int64
ind_tjcr_fin_ult1          int64
ind_valo_fin_ult1          int64
ind_viv_fin_ult1           int64
ind_nomina_ult1            int64
ind_nom_pens_ult1          int64
ind_recibo_ult1            int64
dtype: object

In [32]:
target_list = df.columns[24:]

In [33]:
df['fecha_dato'] = pd.to_datetime(df['fecha_dato'], format='%Y-%m-%d', errors='coerce')
df['fecha_dato'].unique()

array(['2015-01-28T00:00:00.000000000', '2015-02-28T00:00:00.000000000',
       '2015-03-28T00:00:00.000000000', '2015-04-28T00:00:00.000000000',
       '2015-05-28T00:00:00.000000000', '2015-06-28T00:00:00.000000000',
       '2015-07-28T00:00:00.000000000', '2015-08-28T00:00:00.000000000',
       '2015-09-28T00:00:00.000000000', '2015-10-28T00:00:00.000000000',
       '2015-11-28T00:00:00.000000000', '2015-12-28T00:00:00.000000000',
       '2016-01-28T00:00:00.000000000', '2016-02-28T00:00:00.000000000',
       '2016-03-28T00:00:00.000000000', '2016-04-28T00:00:00.000000000',
       '2016-05-28T00:00:00.000000000'], dtype='datetime64[ns]')

In [34]:
df['fecha_alta'] = pd.to_datetime(df['fecha_alta'], format='%Y-%m-%d', errors='coerce')
df['fecha_alta'].unique()

array(['2015-01-12T00:00:00.000000000', '2012-08-10T00:00:00.000000000',
       'NaT', ..., '2016-05-25T00:00:00.000000000',
       '2016-05-01T00:00:00.000000000', '2016-05-15T00:00:00.000000000'], dtype='datetime64[ns]')

In [35]:
df['ult_fec_cli_1t'] = pd.to_datetime(df['fecha_alta'], format='%Y-%m-%d', errors='coerce')
df['ult_fec_cli_1t'].unique()

array(['2015-01-12T00:00:00.000000000', '2012-08-10T00:00:00.000000000',
       'NaT', ..., '2016-05-25T00:00:00.000000000',
       '2016-05-01T00:00:00.000000000', '2016-05-15T00:00:00.000000000'], dtype='datetime64[ns]')

In [36]:
date_list = list(df['fecha_dato'].unique())
date_list[3:5]

[numpy.datetime64('2015-04-28T00:00:00.000000000'),
 numpy.datetime64('2015-05-28T00:00:00.000000000')]

In [37]:
df = df[df.fecha_dato.isin(date_list[3:5])]

In [38]:
df.shape

(1262324, 47)

In [39]:
common_users = list(set(df.loc[df.fecha_dato == date_list[3]]['ncodpers'].unique()) & set(df.loc[df.fecha_dato == date_list[4]]['ncodpers'].unique()))

In [40]:
common_users

[1048576,
 1048578,
 1048579,
 1048581,
 1048582,
 1048584,
 1048585,
 1048586,
 1048587,
 1048588,
 1048589,
 1048591,
 1048592,
 1048593,
 1048594,
 1048595,
 1048597,
 1048598,
 1048599,
 1048601,
 1048602,
 1048603,
 1048604,
 1048605,
 1048607,
 1048608,
 1048609,
 1048610,
 1048612,
 1048613,
 1048615,
 1048616,
 1048617,
 1048618,
 1048619,
 1048620,
 1048621,
 1048622,
 1048623,
 1048624,
 1048626,
 1048628,
 1048629,
 1048630,
 1048631,
 1048632,
 1048633,
 1048634,
 1048636,
 1048637,
 1048638,
 1048639,
 1048640,
 1048641,
 1048643,
 1048644,
 1048645,
 1048646,
 1048648,
 1048649,
 1048650,
 1048651,
 1048652,
 1048653,
 1048655,
 1048656,
 1048657,
 1048658,
 1048659,
 1048660,
 1048661,
 1048662,
 1048663,
 1048664,
 1048666,
 1048669,
 1048671,
 1048672,
 1048673,
 1048674,
 1048675,
 1048676,
 1048677,
 1048678,
 1048679,
 1048680,
 1048681,
 1048682,
 1048683,
 1048684,
 1048685,
 1048686,
 1048687,
 1048688,
 1048689,
 1048691,
 1048692,
 1048693,
 1048694,
 1048695,
 1048696,
 1048697,
 1048698,
 1048699,
 1048701,
 1048703,
 1048704,
 1048705,
 1048709,
 1048710,
 1048711,
 1048712,
 1048713,
 1048714,
 1048715,
 1048716,
 1048717,
 1300445,
 1048719,
 1048720,
 1048721,
 1048722,
 1048723,
 1048724,
 1048725,
 1048726,
 1048727,
 1048728,
 1048729,
 1048730,
 1048732,
 1048733,
 1048734,
 1048735,
 1048736,
 1048737,
 1048740,
 1048741,
 1048743,
 1048744,
 1048745,
 1048746,
 1048749,
 1048750,
 1048751,
 1048752,
 1048753,
 1048754,
 1048755,
 1048756,
 1048757,
 1048758,
 1048759,
 1048760,
 1048762,
 1048763,
 1048764,
 1048766,
 1048767,
 1048768,
 1048769,
 1048771,
 1048772,
 1048774,
 1048775,
 1048777,
 1048778,
 1048779,
 1048782,
 1048783,
 1048784,
 1048785,
 1048786,
 1048787,
 1048788,
 1048790,
 1048791,
 1048792,
 1048793,
 1048794,
 1048795,
 1048796,
 1048797,
 1048798,
 1048799,
 1048800,
 1048801,
 1048802,
 1048803,
 1048806,
 1048807,
 1048808,
 1048809,
 1048810,
 1048811,
 1048812,
 1048813,
 1048814,
 1048816,
 1048817,
 1048818,
 1048819,
 1048820,
 1048821,
 1048822,
 1048823,
 1048824,
 1048825,
 1048827,
 1048828,
 1048829,
 1048830,
 1048831,
 1048832,
 1048833,
 1048836,
 1048837,
 1048838,
 1048839,
 1048840,
 1048841,
 1048842,
 1048843,
 1048844,
 1048845,
 1048847,
 1048848,
 1048849,
 1048850,
 1048851,
 1048852,
 1048853,
 1048854,
 1048855,
 1048856,
 1048858,
 1048859,
 1048860,
 1048861,
 1048862,
 1048863,
 1048864,
 1048865,
 1048866,
 1048867,
 1048868,
 1048869,
 1048870,
 1048872,
 1048873,
 1048874,
 1048875,
 1048879,
 1048880,
 1048881,
 1048882,
 1048883,
 1048885,
 1048886,
 1048887,
 1048888,
 1048889,
 1048890,
 1048891,
 1048892,
 1048893,
 1048894,
 1048895,
 1048896,
 1048897,
 1048898,
 1048899,
 1048900,
 1048901,
 1048902,
 1048903,
 1048904,
 1048905,
 1048906,
 1048907,
 1048908,
 1048909,
 1048910,
 1048911,
 1048912,
 1048913,
 1048914,
 1048915,
 1048916,
 1048917,
 1048919,
 1048920,
 1048921,
 1048922,
 1048923,
 1048924,
 1048925,
 1048926,
 1048927,
 1048928,
 1048929,
 1048930,
 1048931,
 1048932,
 1048933,
 1048935,
 1048936,
 1048937,
 1048939,
 1048940,
 1048941,
 1048942,
 1048943,
 1048945,
 1048946,
 1048947,
 1048948,
 1048949,
 1048950,
 1048952,
 1048953,
 1048954,
 1048955,
 1048956,
 1048957,
 1048958,
 1048960,
 1048961,
 1048962,
 1048963,
 1048964,
 1048965,
 1048966,
 1048967,
 1048968,
 1048970,
 1048972,
 1048973,
 1048975,
 1048976,
 1048977,
 1048978,
 1048979,
 1048980,
 1048981,
 1048982,
 1048984,
 1048985,
 1048986,
 1048987,
 1048990,
 1048991,
 1048992,
 1048993,
 1048994,
 1048995,
 1048996,
 1048997,
 1048998,
 1048999,
 1049000,
 1049001,
 1049003,
 1049004,
 1049005,
 1049007,
 1049009,
 1049010,
 1049012,
 1049014,
 1049016,
 1049019,
 1049020,
 1049023,
 1049024,
 1049027,
 1049028,
 1049029,
 1049031,
 1049040,
 1049044,
 1049045,
 1049047,
 1049049,
 1049052,
 1049053,
 1292127,
 1049055,
 1049056,
 1049057,
 1049058,
 1049063,
 1049064,
 1049069,
 1049072,
 1049073,
 1049077,
 1049079,
 1049080,
 1049082,
 1049084,
 1049086,
 1049088,
 1049089,
 1049090,
 1049092,
 1049093,
 1049095,
 1049097,
 1049098,
 1049099,
 1049100,
 1049101,
 1049102,
 1049104,
 1049108,
 1049109,
 1049110,
 1049111,
 1049112,
 1049113,
 1049115,
 1049117,
 1049118,
 1049120,
 1049122,
 1049124,
 1049125,
 1049126,
 1049129,
 1049130,
 1049131,
 1049132,
 1049133,
 1049134,
 1049135,
 1049136,
 1049138,
 1049140,
 1049142,
 1049143,
 1049144,
 1049145,
 1049147,
 1049149,
 1049150,
 1049151,
 1049152,
 1049153,
 1049154,
 1049155,
 1049156,
 1049158,
 1049160,
 1049162,
 1049164,
 1049165,
 1049167,
 1049168,
 1049169,
 1049171,
 1049172,
 1049173,
 1049174,
 1049175,
 1049176,
 1049177,
 1049178,
 1049180,
 1049181,
 1049182,
 1049183,
 1049185,
 1049186,
 1049188,
 1049189,
 1049190,
 1049191,
 1049193,
 1049195,
 1049196,
 1049198,
 1049199,
 1049200,
 1049202,
 1049203,
 1049206,
 1049207,
 1049208,
 1049209,
 1049210,
 1049211,
 1049212,
 1049215,
 1049217,
 1049218,
 1049219,
 1049220,
 1049222,
 1049224,
 1049225,
 1049226,
 1049227,
 1049229,
 1049230,
 1049231,
 1049232,
 1049233,
 1049234,
 1049235,
 1049236,
 1049237,
 1049238,
 1049240,
 1049241,
 1049242,
 1049244,
 1049245,
 1049247,
 1049248,
 1049249,
 1049252,
 1049253,
 1049254,
 1049255,
 1049256,
 1049258,
 1049259,
 1049260,
 1049261,
 1049263,
 1049264,
 1049265,
 1049266,
 1049268,
 1049269,
 1049271,
 1049272,
 1049273,
 1049274,
 1049277,
 1049278,
 1049279,
 1049280,
 1049281,
 1049283,
 1049287,
 1049288,
 1049290,
 1049292,
 1049293,
 1049295,
 1049296,
 1049297,
 1049298,
 1049301,
 1049302,
 1049304,
 1049307,
 1049310,
 1049312,
 1049313,
 1049314,
 1049315,
 1049316,
 1049317,
 1049318,
 1049319,
 1049321,
 1049324,
 1049325,
 1049327,
 1049328,
 1049330,
 1049331,
 1049332,
 1292138,
 1049334,
 1049336,
 1049338,
 1049342,
 1049344,
 1049345,
 1049346,
 1049347,
 1049348,
 1049349,
 1049350,
 1049351,
 1049353,
 1049355,
 1049356,
 1049358,
 1049359,
 1049361,
 1049362,
 1049364,
 1049365,
 1049366,
 1049368,
 1049369,
 1049370,
 1049372,
 1049376,
 1049377,
 1049378,
 1049379,
 1049381,
 1049384,
 1049385,
 1049387,
 1049388,
 1049389,
 1049390,
 1049392,
 1049393,
 1049395,
 1049396,
 1049397,
 1049398,
 1049400,
 1049401,
 1049402,
 1049403,
 1049406,
 1049407,
 1049408,
 1049410,
 1049411,
 1049412,
 1049413,
 1049415,
 1049416,
 1049418,
 1049419,
 1049421,
 1049422,
 1049423,
 1049424,
 1049425,
 1049426,
 1049427,
 1049428,
 1049429,
 1049430,
 1049432,
 1049433,
 1049435,
 1049436,
 1049440,
 1049442,
 1049444,
 1049446,
 1049447,
 1049449,
 1049450,
 1049451,
 1049452,
 1049453,
 1049455,
 1049457,
 1049458,
 1049459,
 1049460,
 1049462,
 1049464,
 1049465,
 1049468,
 1049469,
 1049470,
 1049471,
 1049472,
 1049473,
 1049474,
 1049475,
 1049476,
 1049478,
 1049479,
 1049481,
 1049483,
 1049484,
 1049486,
 1049488,
 1049489,
 1049490,
 1049491,
 1049492,
 1049493,
 1049494,
 1049495,
 1049496,
 1049497,
 1049498,
 1049499,
 1049501,
 1049502,
 1049503,
 1049504,
 1049505,
 1049506,
 1049507,
 1049508,
 1049510,
 1049511,
 1049512,
 1049513,
 1049515,
 1049516,
 1049517,
 1049518,
 1049519,
 1049520,
 1049521,
 1049522,
 1049525,
 1049527,
 1049528,
 1049529,
 1049530,
 1049531,
 1049532,
 1049533,
 1049534,
 1049535,
 1049536,
 1049537,
 1049538,
 1049539,
 1049540,
 1049541,
 1049542,
 1049543,
 1049544,
 1049545,
 1049546,
 1049547,
 1049548,
 1049549,
 1049550,
 1049551,
 1049552,
 1049553,
 1049554,
 1049555,
 1049556,
 1049557,
 1049558,
 1049559,
 1049561,
 1049562,
 1049563,
 1049564,
 1049565,
 1049566,
 1049567,
 1049568,
 1049569,
 1049570,
 1049571,
 1049574,
 1049575,
 1049576,
 1049577,
 1049578,
 1049579,
 1049581,
 1049582,
 1049583,
 1049584,
 1049585,
 1049586,
 1049587,
 1049588,
 1049589,
 1049590,
 1049592,
 1049593,
 1049594,
 1049595,
 1049596,
 1049598,
 1049600,
 1049601,
 1049602,
 1049603,
 1049605,
 1049606,
 1049607,
 1049608,
 1049611,
 1049612,
 1049613,
 1049614,
 1049615,
 1049616,
 1049617,
 1049618,
 1049621,
 1049622,
 1049623,
 1049624,
 1049625,
 1049626,
 1049627,
 1049628,
 1049629,
 1049630,
 1049631,
 1049633,
 1049634,
 1049636,
 1049639,
 1049640,
 1049641,
 1049642,
 1049643,
 1049644,
 1049647,
 1049648,
 1049649,
 1049650,
 1049651,
 1049652,
 1049654,
 1049655,
 1049656,
 1049658,
 1049659,
 1049660,
 1049662,
 1049664,
 1049666,
 1049667,
 1049668,
 1049669,
 1049670,
 1049671,
 1049672,
 1049673,
 1049674,
 1049675,
 1049676,
 1049677,
 1049678,
 1049679,
 1049681,
 1049682,
 1049683,
 1049685,
 1049686,
 1049687,
 1049688,
 1049690,
 1049691,
 1049692,
 1049693,
 1049696,
 1049697,
 1049698,
 1049699,
 1049701,
 1049702,
 1049703,
 1049704,
 1049705,
 1049706,
 1049707,
 1049708,
 1049709,
 1049710,
 1049711,
 1049712,
 1049714,
 1049716,
 1049717,
 1049718,
 1049719,
 1049720,
 1049721,
 1049722,
 1049726,
 1049727,
 1049728,
 1049730,
 1049731,
 1049732,
 1049733,
 1049734,
 1049735,
 1049737,
 1049738,
 1049739,
 1049741,
 1049742,
 1049743,
 1049744,
 1049745,
 1049746,
 1049747,
 1049748,
 1049749,
 1049750,
 1049751,
 1049752,
 1049753,
 1049754,
 1049756,
 1049757,
 1049758,
 1292155,
 1049760,
 1049761,
 1049762,
 1049763,
 1049765,
 1049768,
 1049769,
 1049770,
 1049771,
 1049773,
 1049775,
 1049776,
 1049778,
 1049779,
 1049780,
 1049782,
 1049783,
 1049785,
 1049786,
 1049789,
 1049792,
 1049795,
 1049796,
 1049798,
 1049799,
 1049800,
 1049801,
 1049802,
 1049805,
 1049807,
 1049808,
 1049810,
 1049811,
 1049812,
 1049813,
 1049814,
 1049815,
 1049816,
 1049817,
 1049819,
 1049820,
 1049823,
 1049825,
 1049826,
 1049830,
 1049831,
 1049832,
 1049835,
 1049836,
 1049838,
 1049841,
 1049843,
 1049844,
 1049845,
 1049846,
 1049847,
 1049848,
 1049850,
 1049852,
 1049854,
 1049855,
 1049856,
 1049858,
 1049859,
 1049860,
 1049862,
 1049863,
 1049865,
 1049866,
 1049867,
 1049868,
 1049870,
 1049871,
 1049873,
 1049878,
 1049879,
 1049880,
 1049881,
 1049882,
 1049883,
 1049884,
 1049888,
 1049892,
 1049895,
 1049896,
 1049897,
 1049898,
 1049899,
 1049901,
 1049902,
 ...]

In [41]:
df.loc[(df.ncodpers == 1048576) & (df.fecha_dato == date_list[3])]

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
2505660,2015-04-28,1048576,4,ES,1,23,2012-08-09,0,35,1,2012-08-09,1,2,1,2,0,KHE,2,1,47,0,142317.09,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [42]:
df_new = pd.DataFrame(columns=df.columns)
df_new

Empty DataFrame
Columns: [fecha_dato, ncodpers, ind_empleado, pais_residencia, sexo, age, fecha_alta, ind_nuevo, antiguedad, indrel, ult_fec_cli_1t, indrel_1mes, tiprel_1mes, indresi, indext, conyuemp, canal_entrada, indfall, tipodom, cod_prov, ind_actividad_cliente, renta, segmento, ind_ahor_fin_ult1, ind_aval_fin_ult1, ind_cco_fin_ult1, ind_cder_fin_ult1, ind_cno_fin_ult1, ind_ctju_fin_ult1, ind_ctma_fin_ult1, ind_ctop_fin_ult1, ind_ctpp_fin_ult1, ind_deco_fin_ult1, ind_deme_fin_ult1, ind_dela_fin_ult1, ind_ecue_fin_ult1, ind_fond_fin_ult1, ind_hip_fin_ult1, ind_plan_fin_ult1, ind_pres_fin_ult1, ind_reca_fin_ult1, ind_tjcr_fin_ult1, ind_valo_fin_ult1, ind_viv_fin_ult1, ind_nomina_ult1, ind_nom_pens_ult1, ind_recibo_ult1]
Index: []

In [43]:
sum(df.loc[(df.ncodpers == common_users[102])].values[1,24:]) == 0

False

In [44]:
df.loc[(df.ncodpers == 1048675)]

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
2505750,2015-04-28,1048675,4,ES,0,23,2012-08-09,0,35,1,2012-08-09,1,1,1,2,0,KHE,2,1,12,1,52942.17,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2546562,2015-05-28,1048675,4,ES,0,23,2012-08-09,0,35,1,2012-08-09,1,1,1,2,0,KHE,2,1,12,1,52942.17,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [47]:
for user_id in common_users[0:1000]:
    df.loc[(df.ncodpers == user_id) & (df.fecha_dato == date_list[4]), 'ind_ahor_fin_ult1':'ind_recibo_ult1'] = \
    df.loc[(df.ncodpers == user_id) & (df.fecha_dato == date_list[4])].values[:,24:] - \
    df.loc[(df.ncodpers == user_id) & (df.fecha_dato == date_list[3])].values[:,24:]

ValueError: Must have equal len keys and value when setting with an ndarray

In [ ]:
df = df.loc[df.fecha_dato == date_list[4]]
df.iloc[:,24:] = df.iloc[:,24:].replace(to_replace=-1, value=0)

In [ ]:
for user_id in common_users[1000:2001]:   
    added_number = sum(df.loc[df.ncodpers == user_id].values[0,24:])
    if sum(df.loc[df.ncodpers == user_id].values[0,24:]) > 0:
        for i in range(added_number):
            df_new = df_new.append(df.loc[df.ncodpers == user_id])

In [ ]:
df_new

In [23]:
target_map = {'ind_ahor_fin_ult1': 0, 'ind_aval_fin_ult1': 1, 'ind_cco_fin_ult1': 2,
              'ind_cder_fin_ult1': 3, 'ind_cno_fin_ult1': 4, 'ind_ctju_fin_ult1': 5,
              'ind_ctma_fin_ult1': 6, 'ind_ctop_fin_ult1': 7, 'ind_ctpp_fin_ult1': 8,
              'ind_deco_fin_ult1': 9, 'ind_deme_fin_ult1': 10, 'ind_dela_fin_ult1': 11,
              'ind_ecue_fin_ult1': 12, 'ind_fond_fin_ult1': 13, 'ind_hip_fin_ult1': 14,
              'ind_plan_fin_ult1': 15, 'ind_pres_fin_ult1': 16, 'ind_reca_fin_ult1': 17,
              'ind_tjcr_fin_ult1': 18, 'ind_valo_fin_ult1': 19, 'ind_viv_fin_ult1':20,
              'ind_nomina_ult1': 21, 'ind_nom_pens_ult1': 22, 'ind_recibo_ult1': 23}

In [24]:
list(target_map.keys())

['ind_ahor_fin_ult1',
 'ind_aval_fin_ult1',
 'ind_cco_fin_ult1',
 'ind_cder_fin_ult1',
 'ind_cno_fin_ult1',
 'ind_ctju_fin_ult1',
 'ind_ctma_fin_ult1',
 'ind_ctop_fin_ult1',
 'ind_ctpp_fin_ult1',
 'ind_deco_fin_ult1',
 'ind_deme_fin_ult1',
 'ind_dela_fin_ult1',
 'ind_ecue_fin_ult1',
 'ind_fond_fin_ult1',
 'ind_hip_fin_ult1',
 'ind_plan_fin_ult1',
 'ind_pres_fin_ult1',
 'ind_reca_fin_ult1',
 'ind_tjcr_fin_ult1',
 'ind_valo_fin_ult1',
 'ind_viv_fin_ult1',
 'ind_nomina_ult1',
 'ind_nom_pens_ult1',
 'ind_recibo_ult1']

In [25]:
df_new['y_label'] = 0

In [26]:
df_new = df_new.drop(2505660)

In [27]:
y_label = []
for i in range(df_new.shape[0]):
    for target_label in target_list:
        if df_new.iloc[i,:][target_label] == 1:
            y_label.append(target_map[target_label])
            user_id = df_new.iloc[i,:]['ncodpers']
            df_new.loc[df.ncodpers == user_id, target_label] = 0
            break

In [28]:
y_label

[4, 21, 22, 23, 21, 22, 18, 21, 22, 2, 23, 2, 23, 23]

In [29]:
df_new['y_label'] = y_label

In [30]:
df_new

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1,y_label
2544870,2015-05-28,1048863,4,0,1,23,2012-08-09,0,35,1,2012-08-09,1,2,1,2,0,1,2,1,28,18,0,107095.950000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4
2544870,2015-05-28,1048863,4,0,1,23,2012-08-09,0,35,1,2012-08-09,1,2,1,2,0,1,2,1,28,18,0,107095.950000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,21
2544870,2015-05-28,1048863,4,0,1,23,2012-08-09,0,35,1,2012-08-09,1,2,1,2,0,1,2,1,28,18,0,107095.950000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22
2545037,2015-05-28,1049014,4,0,0,42,2012-08-09,0,35,1,2012-08-09,1,1,1,2,0,4,2,1,28,18,1,166677.000000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23
2545047,2015-05-28,1049040,4,0,1,43,2012-08-09,0,35,1,2012-08-09,1,1,1,2,0,4,2,1,38,48,1,56125.170000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,21
2545047,2015-05-28,1049040,4,0,1,43,2012-08-09,0,35,1,2012-08-09,1,1,1,2,0,4,2,1,38,48,1,56125.170000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22
2545029,2015-05-28,1049086,4,0,0,42,2012-08-09,0,35,1,2012-08-09,1,1,1,2,0,5,2,1,17,7,1,108558.030000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18
2544598,2015-05-28,1049131,4,0,1,26,2012-08-09,0,35,1,2012-08-09,1,2,1,2,0,1,2,1,15,28,1,78568.590000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,21
2544598,2015-05-28,1049131,4,0,1,26,2012-08-09,0,35,1,2012-08-09,1,2,1,2,0,1,2,1,15,28,1,78568.590000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22
2544518,2015-05-28,1049231,4,0,1,26,2012-08-09,0,35,1,2012-08-09,1,1,1,2,0,1,2,1,28,18,1,102152.220000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
2544799,2015-05-28,1049419,4,0,0,23,2012-08-09,0,35,1,2012-08-09,1,1,1,2,0,1,2,1,28,18,1,144576.720000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23
2544746,2015-05-28,1049424,4,0,0,27,2012-08-10,0,35,1,2012-08-10,1,1,1,2,0,5,2,1,43,50,1,104581.804129,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
2544730,2015-05-28,1049484,4,0,0,22,2012-08-09,0,35,1,2012-08-09,1,1,1,2,0,1,2,1,28,18,1,79049.130000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23
2544709,2015-05-28,1049505,4,0,1,23,2012-08-09,0,35,1,2012-08-09,1,2,1,2,0,1,2,1,36,25,1,71564.070000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23

In [31]:
import xgboost as xgb

In [32]:
df_new = df_new.drop(['fecha_dato', 'ncodpers', 'fecha_alta', 'ult_fec_cli_1t'], axis=1)

In [33]:
for column_name in df_new.columns:
    df_new[column_name] = pd.to_numeric(df_new[column_name], errors='coerce')

In [34]:
df_new.dtypes

ind_empleado               int64
pais_residencia            int64
sexo                       int64
age                        int64
ind_nuevo                  int64
antiguedad                 int64
indrel                     int64
indrel_1mes                int64
tiprel_1mes                int64
indresi                    int64
indext                     int64
conyuemp                   int64
canal_entrada              int64
indfall                    int64
tipodom                    int64
cod_prov                   int64
nomprov                    int64
ind_actividad_cliente      int64
renta                    float64
segmento                   int64
ind_ahor_fin_ult1          int64
ind_aval_fin_ult1          int64
ind_cco_fin_ult1           int64
ind_cder_fin_ult1          int64
ind_cno_fin_ult1           int64
ind_ctju_fin_ult1          int64
ind_ctma_fin_ult1          int64
ind_ctop_fin_ult1          int64
ind_ctpp_fin_ult1          int64
ind_deco_fin_ult1          int64
ind_deme_fin_ult1          int64
ind_dela_fin_ult1          int64
ind_ecue_fin_ult1          int64
ind_fond_fin_ult1          int64
ind_hip_fin_ult1           int64
ind_plan_fin_ult1          int64
ind_pres_fin_ult1          int64
ind_reca_fin_ult1          int64
ind_tjcr_fin_ult1          int64
ind_valo_fin_ult1          int64
ind_viv_fin_ult1           int64
ind_nomina_ult1            int64
ind_nom_pens_ult1          int64
ind_recibo_ult1            int64
y_label                    int64
dtype: object

In [35]:
x_train = df_new.iloc[:, :20]
y_train = df_new.iloc[:, -1]

In [36]:
dtrain = xgb.DMatrix(x_train, label=y_train)

In [37]:
param = {}
param['objective'] = 'multi:softprob'
param['eta'] = 0.05
param['max_depth'] = 8
param['silent'] = 1
param['num_class'] = 24
param['eval_metric'] = 'mlogloss'
param['min_child_weight'] = 1
param['subsample'] = 0.7
param['colsample_bytree'] = 0.7
param['seed'] = 0
num_rounds = 30

In [38]:
bst = xgb.train(param, dtrain, num_rounds)

In [39]:
#xgb.plot_tree(bst)

In [40]:
bst.dump_model('dump.raw.txt')