# Data Filtration

This notebook is designed for data filtration. The purpose of filtration is to filter those users who bought new product in the specific month.

The author of the notebook is Junjie Huang.

In [38]:
import numpy as np
import pandas as pd
import matplotlib as plt
import graphviz
pd.set_option('display.max_columns', None)

## Read Data

In [2]:
path = "train_ver3.csv"
df = pd.read_csv(path)

In [3]:
df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,4,0,0,35,2015-01-12,0,6,1,NaN,1,1,1,2,0,0,2,1,29,0,1,87218.100000,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2015-01-28,1050611,4,0,1,23,2012-08-10,0,35,1,NaN,1,2,1,1,0,1,2,1,13,1,0,35548.740000,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2015-01-28,1050612,4,0,1,23,2012-08-10,0,35,1,NaN,1,2,1,2,0,1,2,1,13,1,0,122179.110000,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2015-01-28,1050613,4,0,0,22,2012-08-10,0,35,1,NaN,1,2,1,2,0,2,2,1,50,2,0,119775.540000,3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2015-01-28,1050614,4,0,1,23,2012-08-10,0,35,1,NaN,1,1,1,2,0,1,2,1,50,2,1,110587.383626,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [4]:
df.shape

(13647309, 48)

In [5]:
df.dtypes

fecha_dato                object
ncodpers                   int64
ind_empleado               int64
pais_residencia            int64
sexo                       int64
age                        int64
fecha_alta                object
ind_nuevo                  int64
antiguedad                 int64
indrel                     int64
ult_fec_cli_1t            object
indrel_1mes                int64
tiprel_1mes                int64
indresi                    int64
indext                     int64
conyuemp                   int64
canal_entrada              int64
indfall                    int64
tipodom                    int64
cod_prov                   int64
nomprov                    int64
ind_actividad_cliente      int64
renta                    float64
segmento                   int64
ind_ahor_fin_ult1          int64
ind_aval_fin_ult1          int64
ind_cco_fin_ult1           int64
ind_cder_fin_ult1          int64
ind_cno_fin_ult1           int64
ind_ctju_fin_ult1          int64
ind_ctma_fin_ult1          int64
ind_ctop_fin_ult1          int64
ind_ctpp_fin_ult1          int64
ind_deco_fin_ult1          int64
ind_deme_fin_ult1          int64
ind_dela_fin_ult1          int64
ind_ecue_fin_ult1          int64
ind_fond_fin_ult1          int64
ind_hip_fin_ult1           int64
ind_plan_fin_ult1          int64
ind_pres_fin_ult1          int64
ind_reca_fin_ult1          int64
ind_tjcr_fin_ult1          int64
ind_valo_fin_ult1          int64
ind_viv_fin_ult1           int64
ind_nomina_ult1            int64
ind_nom_pens_ult1          int64
ind_recibo_ult1            int64
dtype: object

In [6]:
target_list = df.columns[24:] # get the label list

Convert the date format to the standard data types in pandas

In [7]:
df['fecha_dato'] = pd.to_datetime(df['fecha_dato'], format='%Y-%m-%d', errors='coerce')
df['fecha_dato'].unique()

array(['2015-01-28T00:00:00.000000000', '2015-02-28T00:00:00.000000000',
       '2015-03-28T00:00:00.000000000', '2015-04-28T00:00:00.000000000',
       '2015-05-28T00:00:00.000000000', '2015-06-28T00:00:00.000000000',
       '2015-07-28T00:00:00.000000000', '2015-08-28T00:00:00.000000000',
       '2015-09-28T00:00:00.000000000', '2015-10-28T00:00:00.000000000',
       '2015-11-28T00:00:00.000000000', '2015-12-28T00:00:00.000000000',
       '2016-01-28T00:00:00.000000000', '2016-02-28T00:00:00.000000000',
       '2016-03-28T00:00:00.000000000', '2016-04-28T00:00:00.000000000',
       '2016-05-28T00:00:00.000000000'], dtype='datetime64[ns]')

In [8]:
df['fecha_alta'] = pd.to_datetime(df['fecha_alta'], format='%Y-%m-%d', errors='coerce')
df['fecha_alta'].unique()

array(['2015-01-12T00:00:00.000000000', '2012-08-10T00:00:00.000000000',
                                 'NaT', ...,
       '2016-05-25T00:00:00.000000000', '2016-05-01T00:00:00.000000000',
       '2016-05-15T00:00:00.000000000'], dtype='datetime64[ns]')

In [9]:
df['ult_fec_cli_1t'] = pd.to_datetime(df['fecha_alta'], format='%Y-%m-%d', errors='coerce')
df['ult_fec_cli_1t'].unique()

array(['2015-01-12T00:00:00.000000000', '2012-08-10T00:00:00.000000000',
                                 'NaT', ...,
       '2016-05-25T00:00:00.000000000', '2016-05-01T00:00:00.000000000',
       '2016-05-15T00:00:00.000000000'], dtype='datetime64[ns]')

Get the sub dataset in April 2015 to May 2015

In [10]:
date_list = list(df['fecha_dato'].unique())
date_list[3:5]

[numpy.datetime64('2015-04-28T00:00:00.000000000'),
 numpy.datetime64('2015-05-28T00:00:00.000000000')]

In [11]:
df = df[df.fecha_dato.isin(date_list[3:5])]

In [12]:
df.shape

(1262324, 48)

Common users in April 2015 and May 2015

In [13]:
common_users = list(set(df.loc[df.fecha_dato == date_list[3]]['ncodpers'].unique()) & set(df.loc[df.fecha_dato == date_list[4]]['ncodpers'].unique()))

In [14]:
len(common_users)

628135

For common users we get above, we calculate the difference of all products between April 2015 and May 2015

In [15]:
df_new = pd.DataFrame(columns=df.columns)
df_new

Empty DataFrame
Columns: [fecha_dato, ncodpers, ind_empleado, pais_residencia, sexo, age, fecha_alta, ind_nuevo, antiguedad, indrel, ult_fec_cli_1t, indrel_1mes, tiprel_1mes, indresi, indext, conyuemp, canal_entrada, indfall, tipodom, cod_prov, nomprov, ind_actividad_cliente, renta, segmento, ind_ahor_fin_ult1, ind_aval_fin_ult1, ind_cco_fin_ult1, ind_cder_fin_ult1, ind_cno_fin_ult1, ind_ctju_fin_ult1, ind_ctma_fin_ult1, ind_ctop_fin_ult1, ind_ctpp_fin_ult1, ind_deco_fin_ult1, ind_deme_fin_ult1, ind_dela_fin_ult1, ind_ecue_fin_ult1, ind_fond_fin_ult1, ind_hip_fin_ult1, ind_plan_fin_ult1, ind_pres_fin_ult1, ind_reca_fin_ult1, ind_tjcr_fin_ult1, ind_valo_fin_ult1, ind_viv_fin_ult1, ind_nomina_ult1, ind_nom_pens_ult1, ind_recibo_ult1]
Index: []

In [16]:
# products in May 2015 minus products in April 2015 for common users 
for user_id in common_users[0:100000]:
    df.loc[(df.ncodpers == user_id) & (df.fecha_dato == date_list[4]), 'ind_ahor_fin_ult1':'ind_recibo_ult1'] = \
    df.loc[(df.ncodpers == user_id) & (df.fecha_dato == date_list[4])].values[:,24:] - \
    df.loc[(df.ncodpers == user_id) & (df.fecha_dato == date_list[3])].values[:,24:]

In [17]:
df = df.loc[df.fecha_dato == date_list[4]]
df.iloc[:,24:] = df.iloc[:,24:].replace(to_replace=-1, value=0)

In [18]:
# sum the product indicators up, if sum is larger than zero, add it to df_new
for user_id in common_users[0:100000]:   
    added_number = sum(df.loc[df.ncodpers == user_id].values[0,24:])
    if sum(df.loc[df.ncodpers == user_id].values[0,24:]) > 0:
        for i in range(added_number):
            df_new = df_new.append(df.loc[df.ncodpers == user_id])

In [19]:
df_new.shape

(4183, 48)

In [20]:
# target map for different labels
target_map = {'ind_ahor_fin_ult1': 0, 'ind_aval_fin_ult1': 1, 'ind_cco_fin_ult1': 2,
              'ind_cder_fin_ult1': 3, 'ind_cno_fin_ult1': 4, 'ind_ctju_fin_ult1': 5,
              'ind_ctma_fin_ult1': 6, 'ind_ctop_fin_ult1': 7, 'ind_ctpp_fin_ult1': 8,
              'ind_deco_fin_ult1': 9, 'ind_deme_fin_ult1': 10, 'ind_dela_fin_ult1': 11,
              'ind_ecue_fin_ult1': 12, 'ind_fond_fin_ult1': 13, 'ind_hip_fin_ult1': 14,
              'ind_plan_fin_ult1': 15, 'ind_pres_fin_ult1': 16, 'ind_reca_fin_ult1': 17,
              'ind_tjcr_fin_ult1': 18, 'ind_valo_fin_ult1': 19, 'ind_viv_fin_ult1':20,
              'ind_nomina_ult1': 21, 'ind_nom_pens_ult1': 22, 'ind_recibo_ult1': 23}

In [21]:
list(target_map.keys())

['ind_ahor_fin_ult1',
 'ind_aval_fin_ult1',
 'ind_cco_fin_ult1',
 'ind_cder_fin_ult1',
 'ind_cno_fin_ult1',
 'ind_ctju_fin_ult1',
 'ind_ctma_fin_ult1',
 'ind_ctop_fin_ult1',
 'ind_ctpp_fin_ult1',
 'ind_deco_fin_ult1',
 'ind_deme_fin_ult1',
 'ind_dela_fin_ult1',
 'ind_ecue_fin_ult1',
 'ind_fond_fin_ult1',
 'ind_hip_fin_ult1',
 'ind_plan_fin_ult1',
 'ind_pres_fin_ult1',
 'ind_reca_fin_ult1',
 'ind_tjcr_fin_ult1',
 'ind_valo_fin_ult1',
 'ind_viv_fin_ult1',
 'ind_nomina_ult1',
 'ind_nom_pens_ult1',
 'ind_recibo_ult1']

In [22]:
df_new['y_label'] = 0

### Duplicate the user who bought multiple products and assign integer to those new product by product map

In [23]:
y_label = []
for i in range(df_new.shape[0]):
    for target_label in target_list:
        if df_new.iloc[i,:][target_label] == 1:
            y_label.append(target_map[target_label])
            user_id = df_new.iloc[i,:]['ncodpers']
            df_new.loc[df.ncodpers == user_id, target_label] = 0
            break

In [24]:
y_label[0:10]

[4, 21, 22, 23, 21, 22, 18, 21, 22, 2]

In [25]:
df_new['y_label'] = y_label

In [26]:
df_new

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1,y_label
2544870,2015-05-28,1048863,4,0,1,23,2012-08-09,0,35,1,2012-08-09,1,2,1,2,0,1,2,1,28,18,0,107095.950000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4
2544870,2015-05-28,1048863,4,0,1,23,2012-08-09,0,35,1,2012-08-09,1,2,1,2,0,1,2,1,28,18,0,107095.950000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,21
2544870,2015-05-28,1048863,4,0,1,23,2012-08-09,0,35,1,2012-08-09,1,2,1,2,0,1,2,1,28,18,0,107095.950000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22
2545037,2015-05-28,1049014,4,0,0,42,2012-08-09,0,35,1,2012-08-09,1,1,1,2,0,4,2,1,28,18,1,166677.000000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23
2545047,2015-05-28,1049040,4,0,1,43,2012-08-09,0,35,1,2012-08-09,1,1,1,2,0,4,2,1,38,48,1,56125.170000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,21
2545047,2015-05-28,1049040,4,0,1,43,2012-08-09,0,35,1,2012-08-09,1,1,1,2,0,4,2,1,38,48,1,56125.170000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22
2545029,2015-05-28,1049086,4,0,0,42,2012-08-09,0,35,1,2012-08-09,1,1,1,2,0,5,2,1,17,7,1,108558.030000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18
2544598,2015-05-28,1049131,4,0,1,26,2012-08-09,0,35,1,2012-08-09,1,2,1,2,0,1,2,1,15,28,1,78568.590000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,21
2544598,2015-05-28,1049131,4,0,1,26,2012-08-09,0,35,1,2012-08-09,1,2,1,2,0,1,2,1,15,28,1,78568.590000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22
2544518,2015-05-28,1049231,4,0,1,26,2012-08-09,0,35,1,2012-08-09,1,1,1,2,0,1,2,1,28,18,1,102152.220000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
2544799,2015-05-28,1049419,4,0,0,23,2012-08-09,0,35,1,2012-08-09,1,1,1,2,0,1,2,1,28,18,1,144576.720000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23
2544746,2015-05-28,1049424,4,0,0,27,2012-08-10,0,35,1,2012-08-10,1,1,1,2,0,5,2,1,43,50,1,104581.804129,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
2544730,2015-05-28,1049484,4,0,0,22,2012-08-09,0,35,1,2012-08-09,1,1,1,2,0,1,2,1,28,18,1,79049.130000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23
2544709,2015-05-28,1049505,4,0,1,23,2012-08-09,0,35,1,2012-08-09,1,2,1,2,0,1,2,1,36,25,1,71564.070000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23
2545174,2015-05-28,1050154,4,0,1,27,2012-08-10,0,35,1,2012-08-10,1,1,1,1,0,1,2,1,45,3,1,80624.424583,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23
2545175,2015-05-28,1050155,4,0,1,27,2012-08-10,0,35,1,2012-08-10,1,1,1,2,0,1,2,1,45,3,1,54971.220000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23
2545292,2015-05-28,1050298,4,0,0,23,2012-08-10,0,35,1,2012-08-10,1,1,1,2,0,1,2,1,45,3,1,63048.990000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
2519027,2015-05-28,1050440,4,0,0,23,2012-08-10,0,35,1,2012-08-10,1,1,1,2,0,1,2,1,15,28,1,112801.433133,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
2518950,2015-05-28,1050531,4,0,0,23,2012-08-10,0,35,1,2012-08-10,1,1,1,2,0,1,2,1,27,16,1,76686.762131,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
2518956,2015-05-28,1050537,4,0,0,23,2012-08-10,0,35,1,2012-08-10,1,1,1,2,0,1,2,1,50,2,1,214309.140000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23
2519161,2015-05-28,1050553,4,0,0,24,2012-08-10,0,35,1,2012-08-10,1,1,1,2,0,1,2,1,15,28,1,112801.433133,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
2519188,2015-05-28,1050651,4,0,0,30,2012-08-10,0,35,1,2012-08-10,1,1,1,2,0,4,2,1,7,23,1,139502.280000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,21
2519188,2015-05-28,1050651,4,0,0,30,2012-08-10,0,35,1,2012-08-10,1,1,1,2,0,4,2,1,7,23,1,139502.280000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22
2519134,2015-05-28,1050660,4,0,0,32,2012-08-10,0,35,1,2012-08-10,1,1,1,2,0,4,2,1,41,21,1,94683.270000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,21
2519134,2015-05-28,1050660,4,0,0,32,2012-08-10,0,35,1,2012-08-10,1,1,1,2,0,4,2,1,41,21,1,94683.270000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22
2519098,2015-05-28,1050773,4,0,1,22,2012-08-10,0,35,1,2012-08-10,1,1,1,2,0,1,2,1,3,19,1,281761.020000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23
2518737,2015-05-28,1050875,4,0,1,22,2012-08-10,0,35,1,2012-08-10,1,1,1,2,0,1,2,1,8,9,1,164679.725496,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,21
2518737,2015-05-28,1050875,4,0,1,22,2012-08-10,0,35,1,2012-08-10,1,1,1,2,0,1,2,1,8,9,1,164679.725496,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22
2518620,2015-05-28,1050930,4,0,0,36,2012-08-10,0,35,1,2012-08-10,1,1,1,2,0,1,2,1,46,26,1,88561.680000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4
2518667,2015-05-28,1051001,4,0,0,22,2012-08-13,0,35,1,2012-08-13,1,1,1,2,0,2,2,1,47,24,1,101653.254637,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920146,2015-05-28,114929,4,0,0,46,1998-12-14,0,199,1,1998-12-14,1,1,1,2,0,5,2,1,14,44,1,105743.250000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4
2920153,2015-05-28,114937,4,0,1,47,1998-12-18,0,199,1,1998-12-18,1,1,1,2,0,5,2,1,28,18,1,228229.140000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23
2787118,2015-05-28,1163562,4,0,1,22,2013-08-12,0,23,1,2013-08-12,1,1,1,2,0,1,2,1,12,33,1,49815.180000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4
2920125,2015-05-28,115103,4,0,0,58,1998-12-15,0,199,1,1998-12-15,1,1,1,2,0,5,2,1,35,43,1,191576.970000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18
2920113,2015-05-28,115107,4,0,1,46,1998-12-15,0,199,1,1998-12-15,1,1,1,2,0,4,2,1,28,18,1,91944.660000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18
2780684,2015-05-28,1163810,4,0,0,25,2013-08-12,0,23,1,2013-08-12,1,1,1,2,0,1,2,1,8,9,1,57322.440000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,21
2780684,2015-05-28,1163810,4,0,0,25,2013-08-12,0,23,1,2013-08-12,1,1,1,2,0,1,2,1,8,9,1,57322.440000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22
2780684,2015-05-28,1163810,4,0,0,25,2013-08-12,0,23,1,2013-08-12,1,1,1,2,0,1,2,1,8,9,1,57322.440000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23
2920114,2015-05-28,115242,4,0,0,45,1998-12-16,0,199,1,1998-12-16,1,1,1,2,0,70,2,1,28,18,1,401343.000000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11
2920101,2015-05-28,115306,4,0,1,51,1998-12-16,0,199,1,1998-12-16,1,1,1,2,0,4,2,1,46,26,1,96639.840000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,21
2920101,2015-05-28,115306,4,0,1,51,1998-12-16,0,199,1,1998-12-16,1,1,1,2,0,4,2,1,46,26,1,96639.840000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22
2920201,2015-05-28,115314,4,0,1,43,1998-12-16,0,199,1,1998-12-16,1,1,1,2,0,5,2,1,28,18,1,178898.530555,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18
2920202,2015-05-28,115317,4,0,1,55,1998-12-16,0,199,1,1998-12-16,1,1,1,2,0,5,2,1,28,18,1,827499.150000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23
2920303,2015-05-28,115327,4,0,0,73,1998-12-16,0,199,1,1998-12-16,1,1,1,2,0,4,2,1,28,18,1,158042.700000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18
2920309,2015-05-28,115337,4,0,1,52,1998-12-16,0,199,1,1998-12-16,1,1,1,2,0,4,2,1,28,18,1,94929.360000,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
2920288,2015-05-28,115367,4,0,1,47,1998-12-16,0,199,1,1998-12-16,1,1,1,2,0,5,2,1,28,18,1,89480.550000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,21
2920288,2015-05-28,115367,4,0,1,47,1998-12-16,0,199,1,1998-12-16,1,1,1,2,0,5,2,1,28,18,1,89480.550000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22
2920306,2015-05-28,115386,4,0,0,52,1998-12-17,0,199,1,1998-12-17,1,1,1,2,0,5,2,1,28,18,1,91439.490000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4
2920306,2015-05-28,115386,4,0,0,52,1998-12-17,0,199,1,1998-12-17,1,1,1,2,0,5,2,1,28,18,1,91439.490000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18
2780616,2015-05-28,1163970,4,0,0,22,2013-08-12,0,23,1,2013-08-12,1,1,1,2,0,1,2,1,42,20,0,100452.300000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23
2780725,2015-05-28,1163982,4,0,1,22,2013-08-12,0,23,1,2013-08-12,1,1,1,2,0,1,2,1,47,24,1,101653.254637,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23
2920348,2015-05-28,115418,4,0,0,52,1998-12-17,0,199,1,1998-12-17,1,1,1,2,0,5,2,1,28,18,1,178898.530555,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23
2920353,2015-05-28,115428,4,0,0,48,1998-12-17,0,199,1,1998-12-17,1,1,1,2,0,5,2,1,28,18,1,82081.200000,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23
2920279,2015-05-28,115465,4,0,1,69,1998-12-17,0,199,1,1998-12-17,1,1,1,2,0,4,2,1,37,10,1,145675.380000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11
2780843,2015-05-28,1164040,4,0,1,45,2013-08-12,0,23,1,2013-08-12,1,1,1,2,0,4,2,1,20,5,1,141895.856104,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,12
2780872,2015-05-28,1164059,4,0,0,22,2013-08-12,0,23,1,2013-08-12,1,1,1,2,0,4,2,1,28,18,1,85998.240000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4
2780872,2015-05-28,1164059,4,0,0,22,2013-08-12,0,23,1,2013-08-12,1,1,1,2,0,4,2,1,28,18,1,85998.240000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,21
2780872,2015-05-28,1164059,4,0,0,22,2013-08-12,0,23,1,2013-08-12,1,1,1,2,0,4,2,1,28,18,1,85998.240000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22
2780850,2015-05-28,1164081,4,0,1,43,2013-08-12,0,23,1,2013-08-12,1,2,1,2,0,4,2,1,28,18,0,178898.530555,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23
2780849,2015-05-28,1164080,4,0,0,34,2013-08-12,0,23,1,2013-08-12,1,1,1,2,0,4,2,1,28,18,1,178898.530555,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2

### Output the dataset after filtering

In [37]:
df_new.to_csv('train_filter.csv', index=False)